div.tooltip {
  box-sizing     : border-box;
  position       : absolute;
  padding        : 2px;
  font           : 12px sans-serif;
  background     : lightsteelblue;
  border         : 2px;
  border-radius  : 4px;
  pointer-events : none;
}

div.tooltip h3 {
  margin     : 5px 0;
  text-align : center;
}

div.tooltip .row {
  display : flex;
  margin  : 3px 0;
}

div.tooltip .dt {
  width       : 100px;
  margin      : 0 3px 0 0;
  font-weight : bold;
}

div.tooltip .dt:after {
  content : ':';
}

div.tooltip .dd {
  flex        : 1;
  white-space : nowrap;
}

svg#loading-anim {
  margin : 265px 0 0 445px;
}

path#worldmap {
  stroke       : white;
  stroke-width : 0.25px;
  fill         : grey;
}

path.route {
  stroke-width : 2px;
  fill         : none;
}
