$wrap-width: 960px;
$wrap-height: 900px;

$map-land-color: #808080;
$map-border-color: #ffffff;
$map-marker-color: #000000;

$tooltip-background-color: #b0c4de;

$controls-color: #000000;

$legend-scale-min: #00ff00;
$legend-scale-mid: #0000ff;
$legend-scale-max: #ff0000;
